<nav class="navbar bg-success-subtle">
    <div class="container justify-content-center">
        <a class="navbar-brand" href="#">
            <img src="/img/carrito.jpg"  alt="Bootstrap" width="50" height="34">
        </a>
    </div>
</nav>