{{#each products}}
<div class="col mb-4">
    <div class="card bg-primary-subtle">
        <div class="cards">
            <img src="/img/{{this}}.png" class="card-img-top" alt="{{this}}">
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">{{this}}</h5>
        </div>
    </div>
</div>
{{/each}}